<div class="bg-img">


  <form (ngSubmit)="onSubmit()" #driverreviewForm="ngForm">
    <h1>Driver Review Form</h1>
    <tr>
    <div class="form-group">
      <label for="driverName">Driver Name</label>
      <input type="text" class="form-control" id="driverName" name="driverName"
             [(ngModel)]="model.driverName" placeholder="Enter DriverName e.g Abc" required>
    </div>
  </tr>
  <br><br>
  <tr>
    <div class="form-group">
      <label for="starRating">StarRating</label>
      <div class="star-rating">
        <span class="star" [class.filled]="model.starRating >= 1" (click)="model.starRating = 1">&#9733;</span>
        <span class="star" [class.filled]="model.starRating >= 2" (click)="model.starRating= 2">&#9733;</span>
        <span class="star" [class.filled]="model.starRating >= 3" (click)="model.starRating = 3">&#9733;</span>
        <span class="star" [class.filled]="model.starRating >= 4" (click)="model.starRating = 4">&#9733;</span>
        <span class="star" [class.filled]="model.starRating>= 5" (click)="model.starRating= 5">&#9733;</span>
      </div>
    </div>
  </tr>
  <br><br>
  <tr>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" id="message" name="message"
      [(ngModel)]="model.message" placeholder="Enter Message e.g Good"></textarea>    
    </div>
  </tr>
  <br><br>
    <button type="submit" class="btn btn-primary" [disabled]="driverreviewForm.form.invalid">Submit</button>
  </form>
</div>
  <div *ngIf="status == true" class="alert alert-success mt-3">Your review has been submitted successfully.</div>
  <div *ngIf="status == false" class="alert alert-danger mt-3">An error occurred while submitting your review.</div>


<!-- <div class="bg-img">
  <form (ngSubmit)="onSubmit()" #driverreviewForm="ngForm">
    <h1 style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">Driver Review Form</h1>
    <tr>
    <div class="form-group">
      <label for="driverName" class="form-control">Driver Name:</label>
      <input type="text" class="form-control" id="driverName" name="driverName"
             [(ngModel)]="model.driverName" placeholder="Enter DriverName e.g Abc"  #driverName="ngModel" required pattern="[a-zA-Z]+">
             <div *ngIf="driverName.invalid">
              <span style="color:black;" *ngIf="driverName.errors?.['required']">

                Driver Name is required Field 
              </span>
              <span style="color: red;" *ngIf="driverName.errors?.['pattern']">
                  Driver Name is not valid
              
              </span>
             </div>
    </div>
  </tr>
  <br><br>

  <tr>
    <div class="form-group">
      <label for="starRating" class="form-control">How was your Trip...please rate us!!!</label>
      <div class="star-rating">
        <span class="star" [class.filled]="model.starRating >= 1" (click)="model.starRating = 1">&#9733;</span>
        <span class="star" [class.filled]="model.starRating >= 2" (click)="model.starRating= 2">&#9733;</span>
        <span class="star" [class.filled]="model.starRating >= 3" (click)="model.starRating = 3">&#9733;</span>
        <span class="star" [class.filled]="model.starRating >= 4" (click)="model.starRating = 4">&#9733;</span>
        <span class="star" [class.filled]="model.starRating>= 5" (click)="model.starRating= 5">&#9733;</span>
      </div>
    </div>

  </tr>
  <br><br>
  <tr>
    <div class="form-group">
      <label for="message" class ="form-control">Feedback</label>
      <textarea class="form-control" id="message" name="message"
      [(ngModel)]="model.message" placeholder="Enter your Feedback" required style="color:black"></textarea>

      
    </div>
  </tr>
  <br><br>

    <button type="submit" class="btn btn-primary"[disabled]="driverreviewForm.form.invalid">Submit</button>
  </form>
</div>



  <div *ngIf="status == true" class="alert alert-success mt-3">Your review has been submitted successfully.</div>
  <div *ngIf="status == false" class="alert alert-danger mt-3">An error occurred while submitting your review.</div>

  


 -->
