h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color:white;
  }
    
  
  h2{
    font-size: 32px;
    text-align: bold;
    text-align: center;
  }
  
  .bg-img {
    background-image: linear-gradient(rgba(227, 220, 220, 0.5), rgba(239, 234, 234, 0.5)), url(https://upload.wikimedia.org/wikipedia/commons/0/07/Yellow_cabs_2.jpg
  
    );
  
    /* Set a specific height */
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-blend-mode: normal;
  }
  .container{
    position: absolute;
    
    margin: 20px;
    max-width: 100px;
    padding: 14px;
    background-color:rgb(188, 183, 177);
  }
  form {
    max-width: 350px; 
    text-align: center;
    filter: (2px);
    margin:  auto;
    background-color:rgb(216, 187, 187);
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(192, 48, 48, 0.1);
    backdrop-filter: fadeout(50%);
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control{
    color: white;
  }
  form {
      max-width: 350px; 
      text-align: center;
      filter: (2px);
      margin:  auto;
      background-color:rgba(60, 11, 11, 0.406);
      padding: 10px;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(192, 48, 48, 0.1);
      backdrop-filter: fadeout(50%);
    }
    .form-group {
      margin-bottom: 0;
    }
    .form-control{
      color: white;
    }
    input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 12px;
      color: black;
      border-radius: 5px;
      border: none;
      background-color:whitesmoke;
      margin-top: 5px;
    }
  
    
    
    textarea {
      height: 50px;
      
      
    }
    
    
  
  
  
  .star-rating {
      display: inline-block;
    }
  
    .star {
      cursor: pointer;
      font-size: 24px;
      color: #ccc;
    }
  
    .filled {
      color: gold;
    }
    button[type="submit"] {
      text-align: center;
      display:block;
      width: 40%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
      margin: 20px;
    }
    .alert {
      margin-top: 20px;
      padding: 10px;
      border-radius: 5px;
      font-size: 18px;
    }
    
    .alert-success {
      background-color: #d4edda;
      color: #155724;
    }
    
    .alert-danger {
      background-color: #f8d7da;
      color: #721c24;
    }
   
  
  
  