<!-- <app-header></app-header> -->
<!-- <app-homepage></app-homepage> -->
<app-login></app-login>
<!-- <table style=" width: 100%;height: 10%;background-color: aquamarine;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/login">Login</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/home">Home</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/cab"> Cab</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/driver">Driver</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewCabDetails"> View Cab Details</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/bookyourride"> Book Your Cab</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewtripdetails">View Trip Details</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/rating">Rating </a>  </td>
    
  </tr>
</table> 
<hr/> -->
<router-outlet></router-outlet>